<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vuefront_Vuefront::vuefront" title="Vuefront" module="Vuefront_Vuefront" sortOrder="91"
             action="adminhtml/system_config/edit/section/vuefront"
             resource="Vuefront_Vuefront::vuefront_config"/>
    </menu>
</config>