<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dreamvention\Vuefront\Module\Api\GraphqlInterface" type="Dreamvention\Vuefront\Module\Model\GraphqlModel" />

    <type name="Magento\Framework\Webapi\Rest\Request">
        <plugin name="cors_request_options" type="Dreamvention\Vuefront\Module\Plugin\CorsRequestOptionsPlugin" />
    </type>
    <type name="Magento\Webapi\Controller\Rest\Router">
        <plugin name="cors_request_match" type="Dreamvention\Vuefront\Module\Plugin\CorsRequestMatchPlugin" />
    </type>
</config>