<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       
        <add id="Vuefront_Vuefront::vuefront" title="Vuefront" translate="title" module="Vuefront_Vuefront" sortOrder="91" dependsOnModule="Vuefront_Vuefront" resource="Vuefront_Vuefront::vuefront"/>
        <add id="Vuefront_Vuefront::vuefront_info" title="Information" translate="title" module="Vuefront_Vuefront" parent="Vuefront_Vuefront::vuefront" sortOrder="10" dependsOnModule="Vuefront_Vuefront" action="vuefront/setting" resource="Vuefront_Vuefront::vuefront"/>
         <add id="Vuefront_Vuefront::vuefront_setting" title="Setting" module="Vuefront_Vuefront" sortOrder="20"
              action="adminhtml/system_config/edit/section/vuefront"
             parent="Vuefront_Vuefront::vuefront" 
             resource="Vuefront_Vuefront::vuefront_config"/>
    </menu>
</config>